//引入

@import '~assets/stylesheet/theme.scss';

$headerH:40px;
// 样式
// 主体
.home{
    width: 100%;
    min-height: 100%;
}
// 背景
.ant-layout,.ant-layout-footer{
    background-color: #fcfcfc;
}
//头
.header{
    background: $mYellow;
    height:$headerH ;
    line-height: $headerH;
}
//LOGO
.logo{
    background: url($GemsLogo) no-repeat center center;
    background-size: contain;
    height:$headerH;
    float: left;
    width: $headerH;
    margin-right: $headerH;
    cursor: pointer;
}
//tabul
//li 选中背景色
.ant-menu.ant-menu-dark .ant-menu-item-selected{
    background-color: $dYellow;
    box-shadow: 1px 1px 1px 1px rgba($color: #000, $alpha: 0.3);
}

//侧边栏
.sider{
    background: $lYellow;
}

